.container {
    max-width: 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 700;
}

.asteroid-name {
    margin-left: -4rem;
}

.asteroid-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}

.tomorrow {
    max-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #E0CA3C;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}

.today {
    max-width: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #E0CA3C;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}

.asteroid-row:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}


.image-symbol {
    display: flex;
    align-items: center;
}
